PORT=5000
DATABASE_URL=mongodb+srv://lymondadev_db_user:G19-Dawarha-Ab%23777@g-19-dawarha-db.lahf3uu.mongodb.net/dawwarha?retryWrites=true&w=majority
JWT_SECRET=dawwarha_secret_jwt_key_2026_super_secure
JWT_EXPIRES_IN=7d
